%tr
  %td= qr_image_tag(drawer, '86px', '86px')
  %td= drawer.name
  %td= link_to 'Ver', drawer_path(drawer)
  %td= link_to 'Editar', edit_drawer_path(drawer)
  %td= link_to 'Eliminar', drawer_path(drawer), method: :delete
